<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" type="text/css" href="components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="components/fontawesome/css/font-awesome.min.css">
    </head>
    <body>
        {% block header %}

        {% endblock %}
    	<div class="container">
    		{% block content %}
    			<div class="row">
    				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    					<h1>Content Here</h1>
    				</div>
    			</div>
    		{% endblock %}
    	</div>

        {% block footer %}

        {% endblock %}
       	<script type="text/javascript" src="components/jquery/dist/jquery.min.js"></script>
       	<script type="text/javascript" src="components/bootstrap/dist/js/bootstrap.min.js"></script>
        {% block bottomscript %}

        {% endblock %}
    </body>
</html>